<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<style type="text/css">

.tit{
	display:block;
	width:150px;
}

.valid-msg{color:red;   font-size:0.5vw;}

</style>
</head>
<body>
	<h1>로그인</h1>
	<hr>
	<form action="/member/login" method="post">
		<span class="valid-msg" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></span>
		<span class="tit">ID : </span>
		<input type="text" name="userId" id="userId">
		<span class="tit">Password : </span>
		<input type="password" name="password" id="password">
		<button>로그인</button>
	</form>
</body>
</html>