<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>

<th:block th:replace="fragments :: frg_head"></th:block>
<style type="text/css">
.valid-msg{
   display:block;
   color:red;   
   font-size:10px;
}

input{
   display:block;
   width:400px;
   border: none;
   outline: none;
}

tr>td:nth-child(1){
   background-color: red;
   color:white;
}

#userId{
   display: inline-block;
   width: 80%;
}

input[type=submit]{
   width: 100%;
}

</style>
</head>
<body>

<h1>회원 가입 양식</h1>
    <!-- member라는 속성으로 넘어오는 객체에 대해 직접적으로 접근 가능 -->
    <form th:object="${joinForm}"
     th:action="@{/member/join}" method="post" id="frm_join" >
     <table border="1">
        <tr>
           <td>ID : </td>
           <td >
                <input th:unless="${#fields.hasErrors('userId')}" type="text" name="userId" id="userId"
					   th:value="${#fields.hasErrors('userId') ? '' : userId}"  size="10" required />
				
                <button type="button" id="btnIdCheck">check</button>
                <span th:unless="${#fields.hasErrors('userId')}" id="idCheck" class="valid-msg"></span>  <!--예외 없을 떄 출력되는 부분 -->
                <span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"    
                	  id="id-confirm" class="valid-msg"></span> <!-- 예외 있을 때 출력되는 부분 -->
           </td>
        </tr>
        <tr>
           <td>PASSWORD : </td>
           <td>
           		
                <input type="password" name="password" id="password"
                 th:value="*{#fields.hasErrors('password') ? '' : password}"
                 placeholder="영어,숫자,특수문자 조합의 8글자 이상의 문자열입니다." required/>
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                	  id="pw-confirm" class="valid-msg"></span>
           </td>
        </tr>
        <tr>
           <td>휴대폰번호 : </td>
           <td>
                <input id="tell" type="tel" name="tell" 
                th:value="*{#fields.hasErrors('tell') ? '' : tell}"
                placeholder="숫자만 입력하세요" required/>
                <span th:if="${#fields.hasErrors('tell')}" th:errors="*{tell}"
                	  id="tell-confirm" class="valid-msg"></span>        
           </td>
        </tr>
        <tr>
           <td>EMAIL : </td>
           <td>
                <input type="email" name="email" required/>            
           </td>
        </tr>
        <tr>
           <td colspan="2">
              <input type="submit" value="가입" />
           </td>
       </tr>
   </table>
   </form>
   
	
    <script type="text/javascript" src="/js/member/joinForm.js"></script>

   


</body>
</html>