<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<style type="text/css">

.tit{
	display:block;
	width:150px;
}

.valid-msg{color:red;   font-size:0.5vw;}

</style>
</head>
<body>
	<h1>로그인</h1>
	<hr>
	<form th:action="@{/member/login}" method="post">    <!-- csrf 토큰 넣어주는 방법(히든으로 들어감) -->
		<span class="valid-msg" th:if="${message}" th:text="${message}"></span>
		<span class="tit">ID : </span>
		<input type="text" name="userId" id="userId">
		<span class="tit">Password : </span>
		<input type="password" name="password" id="password">
		<button>로그인</button>
		<div class="social-login">
			<button type="button" onclick="window.location.href='/oauth2/authorization/google'"
					style="width:150px; height: 40px; background:red; color:white">
				Google login
			</button>
		</div>
		<input type="checkbox" id="rememberMe" name="remember-me" checked="checked">
		<label for="rememberMe">로그인 유지</label>
	</form>
	
<script type="text/javascript">
	

</script>
	
	
	
</body>
</html>