<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments :: frg_head"></th:block>
</head>
<body>
<h1>마이페이지</h1>
<table border="1" th:object="${#authentication.principal}"> <!-- MemberAccount로 접근 -->
	<tr>
		<th>아이디</th>
		<td th:text="${#authentication.name}"></td>
	</tr>
	<tr>
		<th>비밀번호</th>
		<td th:text="*{member.password}"></td>
	</tr>
	<tr>
		<th>전화번호</th>
		<td th:text="*{tell}"></td>  <!-- tell, email은 getter를 만들어놔서 이렇게 사용 가능 -->
	</tr>
	<tr>
		<th>이메일</th>
		<td th:text="*{email}"></td>
	</tr>









</table>

</body>
</html>